* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
}
button {
    border: 0;
    background: transparent;
}
a {
    text-decoration: none;
}
body {
    width: 100vw;
    overflow: hidden;
}
.main-container {
    overflow:   hidden;
    width: 100vw;
    height: 100vh;

}
.main-container .main-logger {
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.main-container .main-login-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-container .main-login-box .left-form {
    flex: 1;
}
.main-container .main-login-box .left-form svg {
    width: 90%;
}
.main-container .main-login-box .right-form {
    flex: 1;
}
.main-container .main-login-box .right-form form {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}
.main-container .main-login-box .right-form form h1 {
    /* margin-top: 30px; */
}
.main-container .main-login-box .right-form  form p {
    /* margin-top: 20px; */
    /* margin-right: 40px; */
}
.main-container header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 2px solid #198754;
}
.main-container header .logo {
    flex: 1;
    padding: 10px;
}
.main-container header .logo a {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.main-container header .profile button {
    background: transparent;
    border: 0;
    margin: 5px;
}
.main-container header .profile button i {
    color: #000;
}
.main-container header .profile button img {
    width: 40px;
    height: 40px;
}
.main-container header .profile button ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 4px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    display: none;
    transition: 0.4s ease-in;
    
}
.main-container header .profile button:hover ul {
    display: flex;
    position: fixed;
    right: 5px;
    top: 40px;
}
.main-container header .profile button ul li {
    border-bottom: 1px solid #363e44;
}
.main-container header .profile button ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.main-container .center-section {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
}
.main-container .center-section .nav-controls {
    width: 200px;
    display: flex;
    flex-direction: column;
}
.main-container .center-section .nav-controls .nav-parts {
    flex: 1;
}
.main-container .center-section .nav-controls .nav-part {
    padding: 5px;
    border-bottom: 1px solid #363e44;
}
.main-container .center-section .nav-controls .nav-part h3 {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    text-transform: uppercase;
    margin: 5px;
}
.main-container .center-section .nav-controls .nav-part ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 0;
} 
.main-container .center-section .nav-controls .nav-part ul li a {
    text-decoration: none;
    color: #198754;
}
.main-container .center-section .nav-controls .nav-copy {
    text-align: center;
    padding: 5px;
}
.main-container .center-section .right-contents {
    margin: 10px;
    height: calc(100vh - 50px);
    width: calc(100vw - 200px);
    overflow: auto;
    padding-bottom: 100px;

}
.main-container .center-section .right-contents .acting-user {
    padding: 10px;
}
.main-container .center-section .right-contents .acting-user h2 {
    font-size: 20px;
    font-weight: bold;
}
.main-container .center-section .right-contents .total-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-container .center-section .right-contents .total-boxes .box {
    background: #198754;
    margin: 5px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.main-container .center-section .right-contents .total-boxes .box i {
    color: #fff;
    font-size: 20px;
}
.main-container .center-section .right-contents .total-boxes .box span {
    color: #dcfc11;
    font-size: 20px;
    text-decoration: none;
}
.main-container .center-section .right-contents .total-boxes .box p {
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}


.main-container .center-section .right-contents .settings-cont {
    margin: 10px;
}
.main-container .center-section .right-contents .settings-cont h1 {
    font-size: 20px;
    text-transform: uppercase;
}
.main-container .center-section .right-contents .settings-cont .settings-box {
    /* margin: 10px; */
}
.main-container .center-section .right-contents .settings-cont .settings-box form {
    margin: 10px;
    width: 500px;
}
.main-container .center-section .right-contents .settings-cont .settings-box h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
}

.main-container .center-section .right-contents .all-interchange {
    /* margin: 10px; */
}
.main-container .center-section .right-contents .all-interchange h1 {
    margin: 10px;
    font-size: 22px;
    color: #212529;
    font-weight: bold;
    text-transform: capitalize;
}
.main-container .center-section .right-contents .all-interchange form .row {
    display: flex;
    flex-direction: row;
}
.main-container .center-section .right-contents .all-interchange table thead tr {
    position: sticky;
    top: 0px;
}

@media (max-width: 800px) {

    .main-logger {
        width: 500px;
        height: 400px;
    }
    .main-login-box .left-form{
        display: none;
    }

    .main-container .center-section {
        display: flex;
        flex-direction: column;
        height: auto;
        /* background: red; */
    }
    .main-container .center-section .nav-controls {
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .main-container .center-section .nav-controls  .nav-parts {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 10px;
        /* width: 100vw    ; */
        /* overflow: scroll; */
    }
    .main-container .center-section .nav-controls  .nav-parts .nav-part {
        border: 0;
        padding: 0;
    }
    .main-container .center-section .nav-controls  .nav-parts .nav-part h3 {
        display: none;
    }
    .main-container .center-section .nav-controls  .nav-parts .nav-part ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
    }
    .main-container .center-section .nav-controls  .nav-parts .nav-part ul li a {
        background: #198754;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 150px;
    }
    .main-container .center-section .nav-controls  .nav-parts .nav-part ul li a i {
        padding: 4px;
    }
    /* .main-container .center-section .nav-controls  .nav-parts .nav-part ul li a:hover span {
        display: inline;
        transition: 0.5s ease-in-out;
    } */
    .main-container .center-section .nav-controls  .nav-parts .nav-part ul li a span {
        display: inline;
    }
    .main-container .center-section .nav-controls  .nav-parts .nav-part ul li {
        margin-right: 10px;
    }
    .main-container .center-section .nav-controls  .nav-copy {
        display: none;
    }
    .main-container .center-section .right-contents {
        width: 100vw;
        /* height: ; */
        margin: 0;
    }
}