a {
    text-decoration: none;
    font-size: 16px;
}
.custom-placeholder::placeholder {
    color: #fff;
    outline: 0;
}
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
body {
    background: linear-gradient(45deg,
#2c3e50, #34495e, #2c3e50);
}
.latest-container {
    width: 100vw;
    margin: 10px;
}
.latest-container  h1{
    text-transform: uppercase;
font-weight: bold;
color: #fff;
font-size: 18px;
}
.latest-container .latest-movie-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.latest-container .latest-movie-row .movie-card {
position: relative;
overflow: hidden;
padding: 0;
margin: 0;
width: 200px;
margin: 5px;
border-radius: 5px;
}

.latest-container .latest-movie-row .card-img-overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 0;
transition: opacity 0.3s;
background-color: rgba(0, 0, 0, 0.7);
padding: 0;
}

.latest-container .latest-movie-row .card-img-overlay:hover {
opacity: 1;
}

.latest-container .latest-movie-row .card-text-overlay {
position: absolute;
bottom: 10px;
left: 10px;
color: #fff;
}
.latest-container .latest-movie-row .card-text-overlay h2 {
    color: #dc3545;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.latest-container .latest-movie-row .card-text-overlay .movie-desc {
    width: 100%; /* Adjust width as needed */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* or "nowrap" based on requirements */
    font-size: 14px;
}
.latest-container .latest-movie-row .card-text-overlay .row a {
    /* color: #198754; */
    color: #fff;
}