* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: 16px;
}
.custom-placeholder::placeholder {
  color: #000;
  outline: 0;
}
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #2c3e50, #34495e, #2c3e50);
}
.latest-container {
  width: 100vw;
  /* margin: 10px; */
}
.latest-container h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
.latest-container .latest-movie-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.latest-container .latest-movie-row .movie-card {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
}

.latest-container .latest-movie-row .card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

.latest-container .latest-movie-row .card-img-overlay:hover {
  opacity: 1;
}

.latest-container .latest-movie-row .card-text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
.latest-container .latest-movie-row .card-text-overlay h2 {
  color: #dc3545;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.latest-container .latest-movie-row .card-text-overlay .movie-desc {
  width: 100%; /* Adjust width as needed */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* or "nowrap" based on requirements */
  font-size: 14px;
}
.latest-container .latest-movie-row .card-text-overlay .row a {
  /* color: #198754; */
  color: #fff;
}

.center-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: #dc3545; */
}
.center-section .left-video {
  width: calc(100vw - 430px);
  margin-top: 20px;
}
.center-section .left-video .video-display {
  /* padding: 10px; */
  border-radius: 10px;
}
.center-section .left-video .video-display .video-container {
  width: 98%;
  position: relative;
}
.center-section .left-video .video-display .video-container #myVideo {
  width: 100%;
  border-radius: 10px;
}
.center-section .left-video .video-display .video-container .vid-controlers {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  padding: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.169),
    rgba(0, 0, 0, 0.307),
    rgba(0, 0, 0, 0.725),
    rgb(0, 0, 0)
  );
  display: none;
}
.center-section
  .left-video
  .video-display
  .video-container:hover
  .vid-controlers {
  display: block;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  button {
  background: transparent;
  border: 0;
  color: #fff;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .pnf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .pnf
  button {
  font-size: 30px;
  /* margin-right: 30px; */
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .pnf
  #playBtn {
  color: #dc3545;
  margin-left: 40px;
  margin-right: 40px;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .pnf
  .lower
  .volumeBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .pnf
  .lower
  #volumeRange {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #dc3545, #fff, #198754);
  outline: none;
}

.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .pnf
  .lower
  #volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  div,
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  input,
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  select,
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  button {
  /* margin: 10px; */
  /* flex: 1; */
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  #timeDisplay {
  color: #fff;
  /* flex: 1; */
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  .progressBox {
  flex: 3;
  /* width: 40%; */
  padding-right: 10px;
  padding-left: 10px;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  .progressBox
  #progressRange {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #dc3545; /* Track color */
  outline: none;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  .progressBox
  #progressRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff; /* Thumb color */
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  #qualitySelect {
  background: transparent;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #198754;
  margin-right: 10px;
  outline: 0;
  color: #fff;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  #qualitySelect
  option {
  background: #198754;
  border: 0;
}

.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  #qualitySelect
  option:hover {
  background: transparent;
}
.center-section
  .left-video
  .video-display
  .video-container
  .vid-controlers
  .remctrls
  #fullscreenBtn {
  color: #fff;
}
.center-section .left-video .video-display h2 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.center-section .left-video .video-display .video-controls {
  /* display: flex; */
  /* flex-direction: row; */
  margin-left: 10px;
}
.center-section .left-video .video-display .video-controls h2 {
  /* flex: 1; */
}
.center-section .left-video .video-display .video-controls .ctrlz {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.center-section .left-video .video-display .video-controls .ctrlz a {
  display: flex;
  flex-direction: row;
  background: #ddd9d9;
  color: #2c3e50;
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.center-section .left-video .video-display .video-controls .ctrlz a i {
  padding: 5px;
}
.center-section .left-video .video-display .description {
  color: #ddd9d9;
  background: #151e26;
  padding: 7px;
  width: 95%;
  margin-left: 10px;
  margin-top: 10px;

  border-radius: 10px;
}
.center-section .left-video .video-display .description h4 {
  color: #ddd9d9;
  font-weight: bold;
  font-size: 16px;
}

.center-section .recommended-vids {
  width: 400px;
  margin-top: 10px;
}
.center-section .recommended-vids h1 {
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
  text-transform: uppercase;
  user-select: none;
}
.center-section .recommended-vids .recommend-box {
}
.center-section .recommended-vids .recommend-box .recommend {
  text-decoration: none;
  background: #151e26;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.center-section .recommended-vids .recommend-box .recommend .left {
  width: 180px;
}
.center-section .recommended-vids .recommend-box .recommend .left img {
  width: 100%;
  border-radius: 10px;
}
.center-section .recommended-vids .recommend-box .recommend .right {
  padding-left: 10px;
  width: calc(400px - 180px);
}
.center-section .recommended-vids .recommend-box .recommend .right .m_name {
  font-weight: bold;
  color: #198754;
}
.center-section
  .recommended-vids
  .recommend-box
  .recommend
  .right
  .m_name:hover {
  text-decoration: underline;
}
.center-section .recommended-vids .recommend-box .recommend .right p {
  width: 100%; /* Adjust width as needed */
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* or "nowrap" based on requirements */
  font-size: 14px;
}
.center-section .recommended-vids .recommend-box .recommend .right .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.center-section
  .recommended-vids
  .recommend-box
  .recommend
  .right
  .buttons
  button {
  background: transparent;
  border: 0;
  background: #fff;
  color: #2c3e50;
  flex: 1;
  transition: 0.5s ease-in-out;
  margin-bottom: 10px;
}
.center-section
  .recommended-vids
  .recommend-box
  .recommend
  .right
  .buttons
  button:hover {
  background: #2c3e50;
  color: #fff;
}

.searchResults {
  width: 100vw;
  background: #151e26;
  /* padding: 10px; */
}
.searchResults h2 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.searchResults h2 span {
  color: #dc3545;
}

.searchResults .results-boxes {
  display: flex;
  flex-direction: column;
}
.searchResults .results-boxes .box a {
  color: #a3a3a3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px;
  border-bottom: 2px solid #198754;
}
.searchResults .results-boxes .box a i {
  padding: 3px;
}
.searchResults .results-boxes .box a p {
  /* padding: 8px; */
  margin-left: 10px;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px;
  background: #ddd9d9;
}
footer .flexer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
footer .flexer .about {
  flex: 1;
  padding: 10px;
}
footer .flexer .important {
  flex: 3;
  text-align: center;
}
footer .flexer .important h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .flexer .social-medias {
  flex: 1;
  padding: 10px;
}
footer .flexer .social-medias h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .flexer .social-medias ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
footer .flexer .social-medias ul li {
  margin-top: 5px;
  margin-right: 10px;
}
footer .flexer .social-medias ul li a {
  color: #000;
}
footer .flexer .social-medias ul li a img {
  width: 30px;
}
footer .flexer .social-medias .copy {
  /* margin-left: 20px; */
}
footer .dev {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
footer .dev a {
  color: #2c3e50;
}

@media (max-width: 800px) {
  .latest-container .latest-movie-row .movie-card {
    width: 30%;
    margin: 10px;
  }
  .center-section {
    flex-direction: column;
  }
  .center-section .left-video {
    width: 100vw;
  }
  .center-section .recommended-vids {
    width: 99.9%;
    padding: 10px;
  }
  .center-section .recommended-vids .recommend-box {
    width: 100%;
  }
  .center-section .recommended-vids .recommend-box a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .center-section .recommended-vids .recommend-box a .left {
    flex: 1;
  }
  .center-section .recommended-vids .recommend-box .right {
    flex: 3;
  }
  footer .flexer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .latest-container .latest-movie-row .movie-card {
    width: 100%;
  }
  .center-section .recommended-vids .recommend-box a {
    display: flex;
    flex-direction: column;
  }
}
