@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@300&display=swap");
* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
}
body {
  overflow: auto;
  background: #333;
  color: #fff;
}
.container header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  position: sticky;
  top: 0;
}
.container header.scrolled {
  background: #333; /* Add your background color here */
}
.container header .logo {
  margin: 20px;
}
.container header .logo h1 {
  color: #fff;
  font-size: 24px;
}
.container header .logo h1 span {
  font-size: 24px;
  color: #ff0909;
}
.container header .links {
  flex: 1;
  margin: 10px;
}
.container header .links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 15px;
}
.container header .links ul li {
  margin-left: 20px;
}
.container header .links ul li a {
  color: #fff;
  font-size: 16px;
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.container header .links ul li a.active {
  background: #ff0909;
}
.container .pop {
  width: 100%;
}
.container .pop .cont {
  width: 98%;
  margin: auto;
}
.container .pop .cont h1 {
  font-size: 21px;
  margin-bottom: 10px;
}
.container .pop .cont h1 span {
  display: block;
  border-bottom: 5px solid #ff0909;
  width: 80px;
  margin-top: 5px;
}
.container .pop .cont .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}
.container .pop .cont .row .box {
  position: relative;
}

.container .pop .cont .row .box img {
  width: calc(100vw / 4.2);
  object-fit: cover;
}

.container .pop .cont .row .box a {
  position: absolute;
  top: 0;
  bottom: -100%;
  left: 0;
  right: 0;
  color: #fff;
  /* display: none; */
  transition: bottom 0.3s ease-in-out;
}
.container .pop .cont .row .box:hover a {
  bottom: 0;
}

.container .pop .cont .row .box-info {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #000);
}
.container .pop .cont .row .info-cont {
  position: relative;
  bottom: 0;
}

.container .pop .cont .row .box-info img {
  width: 40px;
  /* height: 30px; */
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.container .pop .cont .row .others {
  bottom: 0;
  position: absolute;
  padding: 10px;
}

.container .pop .cont .row .others p {
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: capitalize;
}
.container .pop .cont .row .others span {
  font-weight: 500;
}
.container .pop .cont .row .others h4 {
  margin-top: 20px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}
